body {
	background-color: #EEEEEE;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items:top;
}

a {
	text-decoration: none;
	color: #0000FF;
}

h1, h2, h3 {
	margin: 0px;
}

#container {
	padding: 10px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	background-color: #66CCFF;
	color: white;
	text-align: center;
	padding: 10px;
}

#content {
	background-color: white;
	overflow: hidden;
	padding: 10px;
}

#nav {
	width: 230px;
	float: left;
}

#nav ul {
	list-style-type: none;
	padding: 0px;
}

#nav .selected {
	font-weight: bold;
}

#main {
	width: 390px;
	float: left;
	border: thin;
}

#clock {
	width: 160px;
	float: right;
}

#footer {
	clear: both;
	padding: 10px;
	background-color: #999999;
	color: white;
	text-align: center;
}