body {
	background-color: #EEEEEE;
	font-family: Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
	color: #0000FF;
}

h1, h2, h3 {
	margin: 0px;
}

#container {
	background-color: #FFFFFF;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	background-color: #66CCFF;
	color: white;
	text-align: center;
	padding: 10px;
}

#content {
	padding: 10px;
}

#nav {
	width: 230px;
	float: left;
	border: thin;
}

#nav ul {
	list-style-type: none;
	padding: 0px;
}

#nav .selected {
	font-weight: bold;
}

#main {
	width: 550px;
	float: right;
	border: thin;
}

#footer {
	clear: both;
	padding: 10px;
	background-color: #999999;
	color: white;
	text-align: center;
}